@font-face {
    font-family: "Minecraft";
    src: url(./font/Minecraft.otf);
}

body {
    font-family: "Minecraft"!important;
}

.bg-stone {
    background-image: url(./img/stone.png);
    background-repeat: repeat ;
}